<form class="needs-validation" novalidate>
  <div class="alert alert-danger d-none">Please review the problems below:</div>

  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Name</label>
    <div class="input-group has-validation">
      <span class="input-group-text">@</span>
      <input type="text" class="form-control" id="exampleInputName" placeholder="Your name" required>
      <div class="invalid-feedback">Name can't be blank</div>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="form-text">Text input example</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail" class="form-label">Email</label>
    <div class="input-group has-validation">
      <span class="input-group-text">example-</span>
      <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email" autocomplete="email" required>
      <span class="input-group-text">@gmail.com</span>
      <div class="invalid-feedback">Email can't be blank</div>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword" class="form-label">Password</label>
    <div class="input-group has-validation" data-controller="password-visibility" data-password-visibility-hidden-class="d-none">
      <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" data-password-visibility-target="input" autocomplete="current-password" required>
      <a href="" class="input-group-text text-decoration-none" data-action="password-visibility#toggle">
        <span data-password-visibility-target="icon">🙈</span>
        <span data-password-visibility-target="icon" class="d-none">🙊</span>
      </a>
      <div class="invalid-feedback">Please provide a valid value.</div>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="form-text">Password input example modified markup with <a href="https://stimulus-components.netlify.app/docs/stimulus-password-visibility/">stimulus-password-visibility</a></div>
  </div>

  <div class="mb-3">
    <label for="exampleTextareaBio" class="form-label">Bio</label>
    <div class="input-group has-validation">
      <span class="input-group-text">With textarea</span>
      <textarea class="form-control" id="exampleTextareaBio" rows="2" placeholder="Tell us your story" required></textarea>
      <div class="invalid-feedback">Please provide a valid value.</div>
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="form-text">Textarea input example</div>
  </div>

  <button type="submit" class="btn btn-primary">Create User!</button>
  <button type="reset" class="btn btn-outline-secondary">Cancel</button>
</form>
