<form class="needs-validation" novalidate>
  <div class="alert alert-danger d-none">Please review the problems below:</div>

  <div class="mb-3">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
      <div class="form-text">A switch has the markup of a custom checkbox</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Create User!</button>
  <button type="reset" class="btn btn-outline-secondary">Cancel</button>
</form>
