<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">Edit article</li>
</ul>

<h1>Editing article <small>Inline Form</small></h1>

<%= render 'form' %>

