<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">New article</li>
<% end %>

<h1>New article <small>Inline Form</small></h1>

<%= render 'form' %>

