<div class="row justify-content-center">
  <div class="col-8">
    <div class="text-center">
      <small class="d-block mb-2">Swap – <kbd>ctl+s</kbd></small>
      <small class="d-block">Tipp – Submit Bootstrap Form <em>after</em> Simple Form to compare invalid feedback.</small>
    </div>
  </div>
</div>
