<div class="col-md-6" data-target="toggle.grid">
  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap">Bootstrap: <%= title %></div>
    <div class="card-body">
      <%= yield %>
    </div>
  </div>
</div>
