<div class="col-md-6" data-toggle-target="cardBootstrap">
  <div class="card border-bootstrap box-shadow mb-4">
    <div class="card-header text-bootstrap d-flex align-items-center justify-content-between">
      <div>
        <strong>Bootstrap</strong>: <%= title %><br />
        <small class="text-muted">Static Bootstrap markup from docs</small>
      </div>
      <div>
        <span class="d-inline-block" data-bs-toggle="tooltip" title="View form source code">
          <button class="btn btn-sm btn-outline-bootstrap" data-bs-toggle="modal" data-bs-target="#modal-bootstrap">Source</button>
        </span>
        <button class="btn btn-sm btn-bootstrap" data-fill="bootstrap" data-bs-toggle="tooltip" title="Fill form with valid data">Fill</button>
      </div>
    </div>
    <div class="card-body">
      <%= yield %>
    </div>
  </div>
</div>
