$jumbotron-padding-y: 3rem !default;

.app-jumbotron {
  &.jumbotron {
    padding-top: $jumbotron-padding-y * 3;
    padding-bottom: $jumbotron-padding-y * 2;
    margin-bottom: 1rem;
    background-color: $white;

    .container {
      max-width: 40rem;
    }

    .jumbotron-heading {
      font-weight: 300;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
