<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      <p class="help-block">Lorem ipsum dolor sit amet</p>
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      <p class="help-block">Lorem ipsum dolor sit amet</p>
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputFile" class="col-sm-3 control-label">File</label>
    <div class="col-sm-9">
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Active
        </label>
      </div>
      <p class="help-block">Lorem ipsum dolor sit amet</p>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Choices</label>
    <div class="col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1" checked>
          Option one is this and that&mdash;be sure to include why it's great
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="optionsRadios" id="optionsCheckbox2" value="option2">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Sex</label>
    <div class="col-sm-9">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Male
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Female
        </label>
      </div>
      <p class="help-block">Lorem ipsum dolor sit amet</p>
    </div>
  </div>

  <button type="submit" class="btn btn-default">Create User</button>
</form>

