@import "bootstrap-sprockets";
@import "bootstrap";
@import "github";

body {
  padding-top: 60px;
}

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}
