/*
 *= require bootstrap
 *= require google-code-prettify
*/

body {
  padding-top: 60px;
}

.alert p.error_notification {
  margin-bottom: 0;
}

div.well {
  padding: 5px 10px;
}

pre { display: none; }

article .content {
  margin: 10px 0;
}

#article-comments {
  padding: 10px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  border-radius: 3px;
  margin-bottom: 10px;
}

#comments {
  margin-bottom: 10px;
}

#article-comments form {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-bottom: 0;
}

#article-comments .form-actions {
  margin-bottom: 0;
  padding-bottom: 0;
}
.form-actions {
  height: 30px;
}

.navbar .brand {
  float: right;
  padding-right: 0;
}

.form-vertical .boolean .controls {
  display: inline-block;
}

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}
