$theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );
@import "bootstrap";

// App sections
@import "application/breadcrumb";
@import "application/example";
@import "application/flash";
@import "application/footer";
@import "application/header";
@import "application/jumbotron";

// Components
@import "components/alert";
@import "components/icon";

// Syntax highlight
@import "dracula/pygments/dracula";

// simple_form helpers
@import "simple_form-bootstrap/simple_form-bootstrap";
