/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap-1.3.0
*/
header.master {
  padding-top: 60px;
}

div.well {
  padding: 5px 10px;
}

pre { display: none; }

article .content {
  margin: 10px 0;
}

#article-comments {
  padding: 10px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#comments {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

