<form class="form-inline needs-validation" novalidate>
  <label class="sr-only" for="inline-email">Email</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="inline-email" placeholder="Enter email" required>
  <div class="invalid-feedback">Name can't be blank</div>
  <div class="valid-feedback">Looks good!</div>

  <label class="sr-only" for="inline-password">Password</label>
  <input type="password" class="form-control mb-2 mr-sm-2" id="inline-password" placeholder="Password" required>
  <div class="invalid-feedback">Please provide a valid value.</div>
  <div class="valid-feedback">Looks good!</div>

  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-input" type="checkbox" id="inline-check" required>
    <label class="form-check-label" for="inline-check">Terms</label>
    <div class="invalid-feedback">Terms must be accepted</div>
    <div class="valid-feedback">Looks good!</div>
  </div>

  <button type="submit" class="btn btn-primary mb-2 mr-sm-2">Create User!</button>
</form>
