<% if notice %>
  <div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success!</strong> <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
<% end %>
