<footer class="app-footer text-center">
  <div class="container">
    <ul class="footer-links">
      <li><a href="https://github.com/rafaelfranca/simple_form-bootstrap/#license">Copyright</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/heartcombo/simple_form">Simple Form @ GitHub</a></li>
    </ul>
  </div>
</footer>
