<footer class="app-footer text-center">
  <div class="container">
    <p>Copyright 2009-<%= Time.now.year %> <a href="http://plataformatec.com.br">Plataformatec</a></p>
    <ul class="footer-links">
      <li><a href="http://blog.plataformatec.com.br">Plataformatec Blog</a></li>
      <li class="muted">·</li>
      <li><a href="https://github.com/plataformatec/simple_form">Simple Form @ GitHub</a></li>
    </ul>
  </div>
</footer>
