<section class="app-jumbotron jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Simple Form 💜 Bootstrap 4</h1>
    <p class="lead text-muted">
      Build responsive, mobile-first HTML Forms with <a href="https://github.com/heartcombo/simple_form">Simple Form</a> and <a href="http://getbootstrap.com/">Bootstrap</a>.
      The world's most popular front-end component library meets easy and simple DSL to build Forms with Rails.
    </p>
    <p>
      <%= link_to "Example", new_examples_vertical_path, class: "btn btn-primary px-4 mx-2" %>
      <%= link_to "Documentation", documentation_path, class: "btn btn-secondary px-4 mx-2" %>
    </p>
  </div>
</section>
