<form class="needs-validation" novalidate>
  <div class="alert alert-danger d-none">Please review the problems below:</div>

  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email" autocomplete="email" required>
    <label for="exampleInputEmail">Email</label>
    <div class="invalid-feedback">Email can't be blank</div>
    <div class="valid-feedback">Looks good!</div>
    <div class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" autocomplete="current-password" required>
    <label for="exampleInputPassword">Password</label>
    <div class="invalid-feedback">Please provide a valid value.</div>
    <div class="valid-feedback">Looks good!</div>
    <div class="form-text">Password input example</div>
  </div>

  <div class="form-floating mb-3">
    <select class="form-select" id="exampleSelectLanguage" required>
      <option value="">Select your Language</option>
      <option value="en">English</option>
      <option value="de">German</option>
      <option value="es">Spanish</option>
      <option value="ru">Russian</option>
    </select>
    <label for="exampleSelectLanguage">Language</label>
    <div class="invalid-feedback">Please provide a valid value.</div>
    <div class="valid-feedback">Looks good!</div>
    <div class="form-text">Collection select example</div>
  </div>

  <div class="form-floating mb-3">
    <textarea class="form-control" id="exampleTextareaBio" placeholder="Tell us your story" required></textarea>
    <label for="exampleTextareaBio">Bio</label>
    <div class="invalid-feedback">Please provide a valid value.</div>
    <div class="valid-feedback">Looks good!</div>
    <div class="form-text">Textarea input example</div>
  </div>

  <button type="submit" class="btn btn-primary">Create User!</button>
  <button type="reset" class="btn btn-outline-secondary">Cancel</button>
</form>
