.app-example-overview {
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
}

.app-example {
  min-height: 25rem;
}

// makes comparison easier
.needs-validation.was-validated {
  > .alert-danger { display: block !important; }
}
